.login-info-card{
  background-image: url('../../../public/background.jpg');
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 100%;
  width: 350px;
  height: 450px;
  border: none;
}

.login-info-logo {
  width: 100px;
  margin-bottom: 2rem;
  filter: drop-shadow(
    0 0 5px rgba(0,0,0,.4)
  )
}

.login-info-title {
  margin-bottom: 1rem;
  color: #333333;
}

.login-info-text {
  color: #333333;
}
